@keyframes wizz {
  0% {
    transform: translateX(-1vw) rotate(-3deg);
  }
  10% {
    transform: translateX(1vw) rotate(0deg);
  }
  20% {
    transform: translateX(-1vw) rotate(3deg);
  }
  30% {
    transform: translateX(1vw) rotate(0deg);
  }
  40% {
    transform: translateX(-1vw) rotate(-3deg);
  }
  50% {
    transform: translateX(1vw) rotate(0deg);
  }
  60% {
    transform: translateX(-1vw) rotate(3deg);
  }
  70% {
    transform: translateX(1vw) rotate(0deg);
  }
  80% {
    transform: translateX(-1vw) rotate(3deg);
  }
  90% {
    transform: translateX(1vw) rotate(0deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}
html {
  transform: scale(1.7); /* Adjust the scale factor (0.9 = 90% zoom) */
  transform-origin: top left; /* Set the origin for scaling */
  overflow: hidden; /* Prevent scrollbars caused by scaling */
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chat-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/238916/1200x768_fond-ecran-defaut-windows-xp.jpeg");
  background-size: cover;
}
.chat-wrapper .chat {
  width: 497px;
  height: 502px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 85px 165px 170px 20px;
  box-sizing: border-box;
  margin: auto;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/238916/msn.png");
  background-size: cover;
}

.status {
  position: absolute;
  top: 22px;
  left: 33px;
  font-size: 12px;
  color: grey;
}

.is-writting {
  position: absolute;
  bottom: 30px;
  left: 16px;
  font-size: 12px;
  color: grey;
}

.avatar-1 {
  width: 97px;
  height: 97px;
  position: absolute;
  top: 94px;
  right: 22px;
  bottom: 0;
  background-image: url("https://scontent-fra3-2.xx.fbcdn.net/v/t39.30808-6/461764374_3764708657136203_1717445219188607040_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=fiHAGehpn8QQ7kNvgFIkqbu&_nc_zt=23&_nc_ht=scontent-fra3-2.xx&_nc_gid=ACFR7hfJHPHhNHjnCuceW6I&oh=00_AYAoIba76UI8rhKPfJUccqHbtgAtFtYzNy7KyBAAVpK70w&oe=6771B7D0");
  background-size: cover;
  background-color: #fafafa;
}

.avatar-2 {
  width: 97px;
  height: 97px;
  position: absolute;
  top: 357px;
  right: 22px;
  bottom: 0;
  background-image: url("https://scontent-fra5-2.xx.fbcdn.net/v/t39.30808-6/457106119_10234292177304688_6829470138294608272_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=b04a48&_nc_ohc=rwC6NwEvlDUQ7kNvgGkdEYk&_nc_zt=23&_nc_ht=scontent-fra5-2.xx&_nc_gid=A9thxqC_RMjOPu3kXd-VlMn&oh=00_AYAKpb289G1NcVk51QP8uIrRKpC743JD6NBwM-cy_m5YyA&oe=6771AF9F");
  background-size: cover;
  background-color: #fafafa;
}

.chat.wizz {
  animation: wizz 0.5s ease-in-out 1 backwards;
}

.chat-container {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 2315px;
  height: 245px;
  position: relative;
  z-index: 0;
}
.chat-container:before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 99999999;
  width: 10px;
  height: 100%;
  background-color: white;
}

.name {
  position: absolute;
  top: 4px;
  left: 32px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-top: 4px;
}
li.one {
  color: red;
}
li.two {
  color: blue;
}
li:first-child {
  padding-top: 10px;
}
li label {
  font-size: 12px;
}
li label img {
  width: 15px;
  height: 15px;
  margin-left: 3px;
  margin-right: 3px;
  display: inline;
}
li label:first-child {
  display: block;
  color: rgba(0, 0, 0, 0.6);
}

html {
  font-family: Sans, sans-serif;
}
