.chat-wrapper
  .chat
    .name math44
    .status.
      G biento 1 scoot!!  | mathpage@live.fr
    .is-writting.
      Dernier message recu a 9:27 le 25/12/2024
    //-.write.
      |
    .avatar-1
    .avatar-2
    .chat-container
      ul#discussion